<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Item_Job" value="Sample.TransferItemBOMs"/>
    <add key="Item_AttributeName" value="Urn"/>
    <add key="Item_AttributeNamespace" value="FLC.ITEM"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
